.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--var-accent-light);
  padding: 2rem;
}

.mainlogo {
  border-radius: 50%;
  width: 60px;
}

.navbar {
  background-image: linear-gradient(
    to bottom right,
    var(--var-accent2),
    var(--var-accent3)
  );
}

img {
  max-width: 100%;
  width: 100px;
}
