.App {
  text-align: center;
}

.App img {
  max-width: 100%;
  width: 100px;
}

.App h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 8rem;
  color: var(--var-accent3);
  font-size: 5rem;
}

.App h2 {
  font-family: "Poppins", sans-serif;
  color: var(--var-accent4) !important;
}

.App .logos {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.App .mainlogo {
  border-radius: 50%;
  width: 60px;
}

.App .mainpicture {
  width: 50%;
}

.App .navbar {
  background-color: var(--var-accent2);
  font-size: 2rem;
  color: white;
  font-family: "Poppins", sans-serif !important;
}

.App p {
  font-size: 2rem;
  font-family: "Heebo", sans-serif !important;
  margin: 5rem;
}
