:root {
  --var-accent1: #ffbd59;
  --var-accent2: #ff66c4;
  --var-accent3: #5e17eb;
  --var-accent4: #ba9cf6;
}

footer a {
  font-family: "Heebo", sans-serif !important;
  font-weight: bold;
  text-decoration: none;
  color: black !important;
}
.Apply {
  text-align: center;
}

.Apply footer a:hover {
  color: var(--var-accent2) !important;
}

.Appl footer {
  font-family: "Heebo", sans-serif !important;
  color: black !important;
  background-color: var(--var-accent-light);
  padding: 2rem;
}

.Apply h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 8rem;
  color: var(--var-accent3);
  font-size: 5rem;
}

.Apply h2 {
  font-family: "Poppins", sans-serif;
  color: var(--var-accent4) !important;
}

form {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-family: "Heebo", sans-serif !important;
  font-weight: bold;
  text-align: left;
}

.row {
  margin-bottom: 1rem;
}

.button {
  background-color: var(--var-accent3);
  color: var(--var-accent2);
  padding: 1rem;
  border-radius: 4rem;
  border: none;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  transition: all 400ms ease-in-out;
}

.button:hover {
  background-color: var(--var-accent2);
  color: var(--var-accent3);
}

.button:active {
  background-color: var(--var-accent2);
  color: var(--var-accent1);
  border: 2px solid var(--var-accent4);
}
