:root {
  --var-bg-color1: #ffebcd;
  --var-bg-color2: #eae1fc;
  --var-accent1: #ffbd59;
  --var-accent2: #ff66c4;
  --var-accent3: #5e17eb;
  --var-accent4: #ba9cf6;
}

body {
  background-color: var(--var-accent1) !important;
}

footer a {
  font-family: "Heebo", sans-serif !important;
  font-weight: bold;
  text-decoration: none;
  color: black !important;
}

footer a:hover {
  color: var(--var-accent2) !important;
}

footer {
  font-family: "Heebo", sans-serif !important;
  text-align: center;
  color: black !important;
  background-color: var(--var-accent-light);
  padding: 2rem;
}
