body {
    background-color: #5E2B97 !important;
    font-family: 'Pacifico', cursive !important;
}

a {
  color: pink !important;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: palevioletred !important;
}

footer{
  text-align: center;
  color: white !important;
}

